#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.3
Name=Antiword (legacy Word to TXT and PDF)
GenericName=ForensicTool
Comment=antiword command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-antiword.sh
Categories=Additional Tools
