#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=BagIt-Python Library (BIL)
GenericName=BIL
Comment=BagIt command-line
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-bagit-python.sh
Categories=Packaging and Transfer
