[Desktop Entry]
Type=Application
Version=1.3
Name=Bulk Extractor Viewer
GenericName=ForensicTool
Comment=Bulk Extractor GUI
Exec=BEViewer
Terminal=false
Icon=/usr/share/icons/bitcurator/bcview.svg
Categories=Forensics and Reporting
