[Desktop Entry]
Version=1.0
Name=Bless Hex Editor
GenericName=Hex Editor
Exec=bless %F
Comment=Edit binary files
Terminal=false
Type=Application
Categories=Additional Tools
Icon=bless-48x48
GenericName[en_US]=Hex Editor
