#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=0.0.1
Name=Brunnhilde
GenericName=ForensicTool
Comment=brunnhilde command-line tool
Terminal=true
Icon=utilities-terminal
Exec=run-brunnhilde.sh
Categories=Forensics and Reporting
