#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=2.0.1
Name=bulk_extractor
GenericName=ForensicTool
Comment=bulk_extractor
Terminal=true
Icon=utilities-terminal
Exec=run-bulkextractor.sh
Categories=Forensics and Reporting
