#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.2.3
Name=cdrdao (command line)
GenericName=ImagingTool
Comment=cdrdao command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-cdrdao.sh
Categories=Imaging and Recovery
