[Desktop Entry]
Name=ClamTk
GenericName=Virus Scanner
GenericName[ar]=ماسح الفيروسات
GenericName[ast]=Antivirus
GenericName[bg]=Скенер за вируси
GenericName[bs]=Virus Skener
GenericName[ca]=Comprovador de virus
GenericName[cs_CZ]=Antivirový program
GenericName[da]=Virusscanneren
GenericName[de]=Virensuche
GenericName[el]=Ανιχνευτής ιών
GenericName[en_CA]=Virus Scanner
GenericName[en_GB]=Virus Scanner
GenericName[es]=Analizador de Virus
GenericName[fi]=Virustorjuntasovellus
GenericName[fo]=Virus skannari
GenericName[fr]=Scanner de Virus
GenericName[gl]=Analizador de virus
GenericName[he]=סורק וירוסים
GenericName[hr]=Skener virusa
GenericName[hu]=Víruskereső
GenericName[id]=Pemindai Virus
GenericName[it]=Virus Scanner
GenericName[ja]=ウイルススキャナ
GenericName[ko]=바이러스 검사기
GenericName[lt]=Virusų suradimo programa
GenericName[ms]=Pengimbas Virus
GenericName[nb]=Virusskanner
GenericName[nl]=Virusscanner
GenericName[nl_BE]=Virusscanner
GenericName[nn]=Virusskannar
GenericName[pl]=Skaner wirusów
GenericName[pt]=Verificador de vírus
GenericName[pt_BR]=Antivírus Escaner
GenericName[ro]=Virus Scaner
GenericName[ru]=Проверка на вирусы
GenericName[sk]=Antivírus
GenericName[sl]=Virusni pregledovalec
GenericName[sv]=Virusskanner
GenericName[th]=โปรแกรมตรวจจับไวรัส
GenericName[tr]=Virüs Tarayıcı
GenericName[ug]=ۋﻯﺭۇﺱ ﺕەﻚﺷۈﺭگۈچ
GenericName[uk]=Антивірусний сканер
GenericName[zh_CN]=病毒扫描工具
GenericName[zh_TW]=病毒掃描程式
Comment=Scan for viruses...
Comment[ar]=إمسح للكشف عن الفيروسات
Comment[ast]=Buscar virus...
Comment[bg]=Сканиране за вируси...
Comment[bs]=Pretraga za virusima...
Comment[cs]=Testuji na přítomnost virů...
Comment[da]=Skan for virus...
Comment[de]=Nach Viren suchen …
Comment[el]=Έλεγχος για ιούς...
Comment[en]=Scan for viruses...
Comment[en_GB]=Scan for viruses...
Comment[es]=Analizar en busca de virus...
Comment[fo]=Skanna eftir virus...
Comment[fr]=Effectuer une analyse antivirus...
Comment[gl]=Buscar virus...
Comment[he]=סרוק וירוסים...
Comment[hr]=Pretraživanje virusa...
Comment[hu]=Vírusok keresése... 
Comment[id]=Memindai virus...
Comment[it]=Scansione alla ricerca di virus...
Comment[ja]=ウィルスをスキャンします...
Comment[ko]=바이러스 검사...
Comment[ms]=Imbas virus...
Comment[nl]=Op virussen scannen...
Comment[nb]=Skann etter virus...
Comment[nn]=Skann...
Comment[pl]=Przeskanuj pliki w poszukiwaniu wirusów...
Comment[pt]=Procurar por vírus...
Comment[pt_BR]=Verificar se há vírus...
Comment[ro]=Scaneaza pentru virus...
Comment[ru]=Проверить на вирусы...
Comment[sk]=Hľadám vírusy...
Comment[sl]=Preglej za virusi...
Comment[sv]=Skanna efter virus...
Comment[tr]=Virüs taraması yap...
Comment[ug]=ۋىرۇس تەكشۈر…
Comment[uk]=Шукати віруси…
Comment[zh_CN]=扫描病毒...
Comment[zh_TW]=掃描病毒...
TryExec=clamtk
Exec=clamtk %F
Icon=clamtk
Type=Application
Terminal=false
Categories=Additional Tools
StartupNotify=true
