#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.2.3
Name=Clonezilla (command line)
GenericName=ImagingTool
Comment=Clonezilla command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-clonezilla.sh
Categories=Imaging and Recovery
