#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.2.3
Name=dd (command line)
GenericName=ImagingTool
Comment=dd command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-dd.sh
Categories=Imaging and Recovery
