#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.2.3
Name=ddrescue (command line)
GenericName=ImagingTool
Comment=ddrescue command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-ddrescue.sh
Categories=Imaging and Recovery
