#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.2.3
Name=ddrescue (command line)
GenericName=ImagingTool
Comment=ddrescue command-line tool
Terminal=true
Icon=utilities-terminal
Exec=run-ddrescue.sh
Categories=Imaging and Recovery
