#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=DiskType
GenericName=ForensicTool
Comment=disktype command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-disktype.sh
Categories=Forensics and Reporting
