#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.2.3
Name=dumpfloppy (command line)
GenericName=ImagingTool
Comment=dumpfloppy command-line tool
Terminal=true
Icon=utilities-terminal
Exec=run-dumpfloppy.sh
Categories=Imaging and Recovery
