#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=0.79.10
Name=dvdisaster (command line)
GenericName=ImagingTool
Comment=dvdisaster command-line tool
Terminal=true
Icon=utilities-terminal
Exec=run-dvdisaster.sh
Categories=Imaging and Recovery

