#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=FIDO Format Identification
GenericName=FIDO
Comment=FIDO command-line
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-fido.sh
Categories=Additional Tools
