#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=0.6.16
Name=fiwalk
GenericName=ForensicTool
Comment=fiwalk
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-fiwalk.sh
Categories=Forensics and Reporting
