#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=0.6.16
Name=Fiwalk (command line)
GenericName=ForensicTool
Comment=fiwalk command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-fiwalk.sh
Categories=Additional Tools
