[Desktop Entry]
Name=HFS Explorer
GenericName=HFS Explorer
Comment=Explore HFS
Exec=/usr/share/hfsexplorer/bin/./hfsexplorer %F
Terminal=false
Type=Application
Icon=drive-harddisk
Categories=Additional Tools
