#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=0.6.16
Name=Match BE Features to File Names (command line)
GenericName=ForensicTool
Comment=identify filenames command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-identfile.sh
Categories=Additional Tools
