#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.5.0
Name=lightgrep
GenericName=ForensicTool
Comment=lightgrep
Terminal=true
Icon=utilities-terminal
Exec=run-lightgrep.sh
Categories=Forensics and Reporting

