#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=PhotoRec
GenericName=PhotoRec (File Recovery)
Comment=PhotoRec File Recovery
Terminal=true
Icon=utilities-terminal
Exec=sudo photorec
Categories=Forensics and Reporting
