#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=PhotoRec
GenericName=PhotoRec (File Recovery)
Comment=PhotoRec File Recovery
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=sudo photorec
Categories=Forensics and Reporting
