#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.3
Name=Read Outlook PST File
GenericName=ForensicTool
Comment=pst reader command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-readpst.sh
Categories=Additional Tools
