#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.3
Name=SDHash (file similarity)
GenericName=ForensicTool
Comment=sdhash command-line tool
Terminal=true
Icon=/usr/share/icons/bitcurator/bcarchives.svg
Exec=run-sdhash.sh
Categories=Forensics and Reporting
