#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.3
Name=ssdeep (fuzzy hashes)
GenericName=ForensicTool
Comment=ssdeep command-line tool
Terminal=true
Icon=/usr/share/icons/bitcurator/bcarchives.svg
Exec=run-ssdeep.sh
Categories=Forensics and Reporting
