#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=TestDisk
GenericName=TestDisk (Partition Recovery)
Comment=TestDisk Lost Partition Recovery
Terminal=true
Icon=utilities-terminal
Exec=sudo testdisk
Categories=Forensics and Reporting
