#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.5.6
Name=xorriso (command line)
GenericName=ImagingTool
Comment=xorriso command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-xorriso.sh
Categories=Imaging and Recovery

