[Desktop Entry]
# BitCurator GUI
# The format of this file is specified at
# http://freedesktop.org/Standards/desktop-entry-spec
# The entries are in the order they are listed in version 1.0
Type=Application
Version=1.0
Name=BitCurator Mounter
GenericName=bcdat
Comment=GUI for the BitCurator Mounter Tool
Icon=/usr/share/icons/bitcurator/bcdisk.svg
Exec=/usr/local/bin/bc_mounter.py
Terminal=false
# Categorie entry according to version 1.0 of
# http://www.freedesktop.org/wiki/Specifications/menu-spec
Categories=Qt
